@model WebAppMacroSociety.Models.ListMusicUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ListMusicUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameUser" class="control-label"></label>
                <input asp-for="NameUser" class="form-control" />
                <span asp-validation-for="NameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music1" class="control-label"></label>
                <input asp-for="Music1" class="form-control" />
                <span asp-validation-for="Music1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music2" class="control-label"></label>
                <input asp-for="Music2" class="form-control" />
                <span asp-validation-for="Music2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music3" class="control-label"></label>
                <input asp-for="Music3" class="form-control" />
                <span asp-validation-for="Music3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music4" class="control-label"></label>
                <input asp-for="Music4" class="form-control" />
                <span asp-validation-for="Music4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music5" class="control-label"></label>
                <input asp-for="Music5" class="form-control" />
                <span asp-validation-for="Music5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music6" class="control-label"></label>
                <input asp-for="Music6" class="form-control" />
                <span asp-validation-for="Music6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music7" class="control-label"></label>
                <input asp-for="Music7" class="form-control" />
                <span asp-validation-for="Music7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music8" class="control-label"></label>
                <input asp-for="Music8" class="form-control" />
                <span asp-validation-for="Music8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music9" class="control-label"></label>
                <input asp-for="Music9" class="form-control" />
                <span asp-validation-for="Music9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music10" class="control-label"></label>
                <input asp-for="Music10" class="form-control" />
                <span asp-validation-for="Music10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music11" class="control-label"></label>
                <input asp-for="Music11" class="form-control" />
                <span asp-validation-for="Music11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music12" class="control-label"></label>
                <input asp-for="Music12" class="form-control" />
                <span asp-validation-for="Music12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music13" class="control-label"></label>
                <input asp-for="Music13" class="form-control" />
                <span asp-validation-for="Music13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music14" class="control-label"></label>
                <input asp-for="Music14" class="form-control" />
                <span asp-validation-for="Music14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music15" class="control-label"></label>
                <input asp-for="Music15" class="form-control" />
                <span asp-validation-for="Music15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music16" class="control-label"></label>
                <input asp-for="Music16" class="form-control" />
                <span asp-validation-for="Music16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music17" class="control-label"></label>
                <input asp-for="Music17" class="form-control" />
                <span asp-validation-for="Music17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music18" class="control-label"></label>
                <input asp-for="Music18" class="form-control" />
                <span asp-validation-for="Music18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music19" class="control-label"></label>
                <input asp-for="Music19" class="form-control" />
                <span asp-validation-for="Music19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music20" class="control-label"></label>
                <input asp-for="Music20" class="form-control" />
                <span asp-validation-for="Music20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music21" class="control-label"></label>
                <input asp-for="Music21" class="form-control" />
                <span asp-validation-for="Music21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music22" class="control-label"></label>
                <input asp-for="Music22" class="form-control" />
                <span asp-validation-for="Music22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music23" class="control-label"></label>
                <input asp-for="Music23" class="form-control" />
                <span asp-validation-for="Music23" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music24" class="control-label"></label>
                <input asp-for="Music24" class="form-control" />
                <span asp-validation-for="Music24" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music25" class="control-label"></label>
                <input asp-for="Music25" class="form-control" />
                <span asp-validation-for="Music25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserReceivedMusicPrize" class="control-label"></label>
                <input asp-for="UserReceivedMusicPrize" class="form-control" />
                <span asp-validation-for="UserReceivedMusicPrize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <select asp-for="IdUser" class="form-control" asp-items="ViewBag.IdUser"></select>
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
