@model WebAppMacroSociety.Models.ListLevelUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ListLevelUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameUser" class="control-label"></label>
                <input asp-for="NameUser" class="form-control" />
                <span asp-validation-for="NameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level1" class="control-label"></label>
                <input asp-for="Level1" class="form-control" />
                <span asp-validation-for="Level1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level2" class="control-label"></label>
                <input asp-for="Level2" class="form-control" />
                <span asp-validation-for="Level2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level3" class="control-label"></label>
                <input asp-for="Level3" class="form-control" />
                <span asp-validation-for="Level3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level4" class="control-label"></label>
                <input asp-for="Level4" class="form-control" />
                <span asp-validation-for="Level4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level5" class="control-label"></label>
                <input asp-for="Level5" class="form-control" />
                <span asp-validation-for="Level5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level6" class="control-label"></label>
                <input asp-for="Level6" class="form-control" />
                <span asp-validation-for="Level6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level7" class="control-label"></label>
                <input asp-for="Level7" class="form-control" />
                <span asp-validation-for="Level7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level8" class="control-label"></label>
                <input asp-for="Level8" class="form-control" />
                <span asp-validation-for="Level8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level9" class="control-label"></label>
                <input asp-for="Level9" class="form-control" />
                <span asp-validation-for="Level9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level10" class="control-label"></label>
                <input asp-for="Level10" class="form-control" />
                <span asp-validation-for="Level10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level11" class="control-label"></label>
                <input asp-for="Level11" class="form-control" />
                <span asp-validation-for="Level11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level12" class="control-label"></label>
                <input asp-for="Level12" class="form-control" />
                <span asp-validation-for="Level12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level13" class="control-label"></label>
                <input asp-for="Level13" class="form-control" />
                <span asp-validation-for="Level13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level14" class="control-label"></label>
                <input asp-for="Level14" class="form-control" />
                <span asp-validation-for="Level14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level15" class="control-label"></label>
                <input asp-for="Level15" class="form-control" />
                <span asp-validation-for="Level15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level16" class="control-label"></label>
                <input asp-for="Level16" class="form-control" />
                <span asp-validation-for="Level16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level17" class="control-label"></label>
                <input asp-for="Level17" class="form-control" />
                <span asp-validation-for="Level17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level18" class="control-label"></label>
                <input asp-for="Level18" class="form-control" />
                <span asp-validation-for="Level18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level19" class="control-label"></label>
                <input asp-for="Level19" class="form-control" />
                <span asp-validation-for="Level19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level20" class="control-label"></label>
                <input asp-for="Level20" class="form-control" />
                <span asp-validation-for="Level20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level21" class="control-label"></label>
                <input asp-for="Level21" class="form-control" />
                <span asp-validation-for="Level21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level22" class="control-label"></label>
                <input asp-for="Level22" class="form-control" />
                <span asp-validation-for="Level22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level23" class="control-label"></label>
                <input asp-for="Level23" class="form-control" />
                <span asp-validation-for="Level23" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level24" class="control-label"></label>
                <input asp-for="Level24" class="form-control" />
                <span asp-validation-for="Level24" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level25" class="control-label"></label>
                <input asp-for="Level25" class="form-control" />
                <span asp-validation-for="Level25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level26" class="control-label"></label>
                <input asp-for="Level26" class="form-control" />
                <span asp-validation-for="Level26" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level27" class="control-label"></label>
                <input asp-for="Level27" class="form-control" />
                <span asp-validation-for="Level27" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level28" class="control-label"></label>
                <input asp-for="Level28" class="form-control" />
                <span asp-validation-for="Level28" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level29" class="control-label"></label>
                <input asp-for="Level29" class="form-control" />
                <span asp-validation-for="Level29" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level30" class="control-label"></label>
                <input asp-for="Level30" class="form-control" />
                <span asp-validation-for="Level30" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level31" class="control-label"></label>
                <input asp-for="Level31" class="form-control" />
                <span asp-validation-for="Level31" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level32" class="control-label"></label>
                <input asp-for="Level32" class="form-control" />
                <span asp-validation-for="Level32" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level33" class="control-label"></label>
                <input asp-for="Level33" class="form-control" />
                <span asp-validation-for="Level33" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level34" class="control-label"></label>
                <input asp-for="Level34" class="form-control" />
                <span asp-validation-for="Level34" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level35" class="control-label"></label>
                <input asp-for="Level35" class="form-control" />
                <span asp-validation-for="Level35" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level36" class="control-label"></label>
                <input asp-for="Level36" class="form-control" />
                <span asp-validation-for="Level36" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level37" class="control-label"></label>
                <input asp-for="Level37" class="form-control" />
                <span asp-validation-for="Level37" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level38" class="control-label"></label>
                <input asp-for="Level38" class="form-control" />
                <span asp-validation-for="Level38" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level39" class="control-label"></label>
                <input asp-for="Level39" class="form-control" />
                <span asp-validation-for="Level39" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level40" class="control-label"></label>
                <input asp-for="Level40" class="form-control" />
                <span asp-validation-for="Level40" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserReceivedPrize" class="control-label"></label>
                <input asp-for="UserReceivedPrize" class="form-control" />
                <span asp-validation-for="UserReceivedPrize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <select asp-for="IdUser" class="form-control" asp-items="ViewBag.IdUser"></select>
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
